@font-face {
    font-family: "starJedi";
    src: url(../fonts/Starjedi.ttf) format("truetype");
}

* {
	margin: 0px;
	padding: 0px;
}

body {
	text-align: center;
	font: 25px tahoma;
	background-color: #f2f2f2;	
}

#top {
	height: 500px;
	background: url('../images/atat.jpg') bottom center no-repeat;
}

#wheel {
	text-align: center;
}

.letter {
  font: 24px Monaco, MonoSpace;
  height: 230px;
  position: absolute;
  width: 30px;
  margin-left:350px;
  transform-origin: bottom center;
  padding: 10px;
}

.letter span {
	position: absolute;
	width: 24px;
	height: 24px;
	background-color: #0066cc;
	border-radius: 50%;
	padding: 10px;
	color:white;
	border: 1px solid white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#_0 { transform: rotate(0deg); }
#_1 { transform: rotate(13.85deg); }
#js1 { transform: rotate(-13.85deg); }
#_2 { transform: rotate(27.7deg); }
#js2 { transform: rotate(-27.7deg); }
#_3 { transform: rotate(41.55deg); }
#js3 { transform: rotate(-41.55deg); }
#_4 { transform: rotate(55.4deg); }
#js4 { transform: rotate(-55.4deg); }
#_5 { transform: rotate(69.25deg); }
#js5 { transform: rotate(-69.25deg); }
#_6 { transform: rotate(83.1deg); }
#js6 { transform: rotate(-83.1deg); }
#_7 { transform: rotate(96.95deg); }
#js7 { transform: rotate(-96.95deg); }
#_8 { transform: rotate(110.8deg); }
#js8 { transform: rotate(-110.8deg); }
#_9 { transform: rotate(124.65deg); }
#js9 { transform: rotate(-124.65deg); }
#_10 { transform: rotate(138.5deg); }
#js10 { transform: rotate(-138.5deg); }
#_11 { transform: rotate(152.35deg); }
#js11 { transform: rotate(-152.35deg); }
#_12 { transform: rotate(166.2deg); }
#js12 { transform: rotate(-166.2deg); }
#_13 { transform: rotate(180.05deg); }
#js13 { transform: rotate(-180.05deg); }
#_14 { transform: rotate(193.9deg); }
#js14 { transform: rotate(-193.9deg); }
#_15 { transform: rotate(207.75deg); }
#js15 { transform: rotate(-207.75deg); }
#_16 { transform: rotate(221.6deg); }
#js16 { transform: rotate(-221.6deg); }
#_17 { transform: rotate(235.45deg); }
#js17 { transform: rotate(-235.45deg); }
#_18 { transform: rotate(249.3deg); }
#js18 { transform: rotate(-249.3deg); }
#_19 { transform: rotate(263.15deg); }
#js19 { transform: rotate(-263.15deg); }
#_20 { transform: rotate(277deg); }
#js20 { transform: rotate(-277deg); }
#_21 { transform: rotate(290.85deg); }
#js21 { transform: rotate(-290.85deg); }
#_22 { transform: rotate(304.7deg); }
#js22 { transform: rotate(-304.7deg); }
#_23 { transform: rotate(318.55deg); }
#js23 { transform: rotate(-318.55deg); }
#_24 { transform: rotate(332.4deg); }
#js24 { transform: rotate(-332.4deg); }
#_25 { transform: rotate(346.25deg); }
#js25 { transform: rotate(-346.25deg); }

.wrapper {
	text-align: left;
}

#main_header {
	background-color: #0066cc;
	font-family: 'starJedi';
	font-size: 35px;
	padding: 20px;
	color: white;
}

#welcome {
	float: right;
	font-size: 32px;
	padding: 20px;
}

#wheel {
	float: left;
	width:65%;
	height: 100%
}

#scores {
	font-size: 30px; 
	opacity: 0.75;
	width: 25%;
	height: 50%;
	margin-top: 20px;
	float: left;
	padding: 20px;
	background-color: #0066cc;
	color: white;
	border-radius: 50px;
	border: 1px solid white;
}

#js_time {
	font-size: 54px;
}

#question_container {
	font: bold 25px tahoma;
	height: 205px;
	text-align: center;
	background-color: #0066cc;
	color: white;
}

#question {
	padding: 10px;
	min-height: 60px;
}

input {
	font-size: 25px;
}

#js_answer {
	padding: 5px;
	margin-bottom:10px;
	width: 300px;
	border:1px solid #cccccc;
	outline: none;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    outline: none;
}

button:hover {
	background-color: #33cc33;
}

#rank {
	list-style: none;
}

/* Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
	min-height: 300px;
	font-size: 25px;
}

#modal_header {
	text-align: center;
	background-color: #0066cc;
	font-family: 'starJedi';
	font-size: 32px;
	padding: 40px;
	color: white;
}

/* Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#rank {
	padding: 20px;
}

#top_title {
	border-bottom: 1px solid black;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}